/**
* Fil: leaflet-noter.css
* Formål: styling af landkortside
*/

/**
* Kortet skal have en bredde ellers vises det ikke!
*/
body {
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: rgb(2, 9, 2);
    color:rgb(230, 252, 230);
}

header, footer {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    background-color: indigo;
    color:rgb(230, 252, 230);
    text-align: center;
    padding: 12px;
    margin-bottom: 24px;
}

/** Kortets container */
#map { 
    height: 42vh;
    border: 2px solid rgb(102, 179, 43);
}

#knapper {
    padding: 5%;
    text-align: center;
}

#tekst {
    text-align: center;
    font-size: larger;
}